<%- include('header') -%>
        <div class="container">
            <div>
                <h2><%= kitten.name %></h2>
                <p>Age :<%= kitten.age %></p>
                <p><%= kitten.description %></p>
                <img src="/images/<%= kitten.image %>" />
              </div>

        </div>
      </body>
    </html>